@media all and (max-width:575px){
    .home .layer nav .bars .fa-bars{
        display: block;
        position: relative;
        float: right;
        padding: 20px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100px;
    }
    .home .layer nav .bars ul{
        display: none;
        position: absolute;
        background: #333333 none repeat scroll 0 0;
        float: left;
        margin: auto;
        width: 80%;
        text-align: center;
        top: 10%;
        left: 10%;
    }
    .home .layer nav .bars:hover ul
    {
        display: block;
    }
    .home .layer nav .bars ul li
    {
        padding-bottom:2% ;
        width: 100%;
    }
    /* ######### */
    .hello .sec1 {
        float: left;
        width: 90%;
        margin: auto;
        overflow: hidden;
    
    }
    .hello .sec1 .frame{
        width: 100%;
        margin: 5%;
        padding: 10%;
        box-shadow: 0 0 0 8px transparent inset;
    }
    .hello .sec1 .frame .img{
        position: static;
        border-radius: 5px;
        
        transform: translateY(0px) translateX(0px);
    }
    .hello .sec2 {
        float: left;
        width: 90%;
        margin: 0 5%;
        padding: 0 10%;
        
    }
    .hello .sec2 .about ul li{
        float: left;
        padding: 2%;
        padding-left: 0;
        width: 100%;
    }
    /* ############## */
    .OurServices .list .item {
        float: left;
        width: 100%;
        padding: 5%;
        
    }
    .OurPortfolio .list .list1{
        width: 100%;
        margin: auto;
        overflow: hidden;
        padding-bottom: 5%;
        margin: 3% 0; 
        /* background-color: #d2f1e0; */
    }
    .OurPortfolio .list .item{
        width: 100%;
        padding: 3%;
        float: left;
    
    }
    /* ############ */
    .conter{
        padding: 3%;
    }
    .conter .item{
        float: left;
        width: 100%;
        padding: 5%;
    }
    /* ################## */
    .OurBlog .content{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .OurBlog .content .item{
        float: left;
        width: 100%;
        
        margin: 3% 0;
        background-color: #fff;
    }
    /* ########### */
    .ContacUs .content .form{
        width: 80%;
        margin: auto;
    }
    .ContacUs .content .form .item1{
        float: left;
    }
    .ContacUs .content .form .item2{
        width: 100%;
        float: left;
    }
    /* ######### */
    .footer .content{
        margin: auto;
        width: 80%;
        
    }
}


@media all and (min-width:576px) and (max-width:767px){
    .home .layer nav .bars .fa-bars{
        display: block;
        position: relative;
        float: right;
        padding: 20px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
        width: 100px;
    }
    .home .layer nav .bars ul{
        display: none;
        position: absolute;
        background: #333333 none repeat scroll 0 0;
        float: left;
        margin: auto;
        width: 80%;
        text-align: center;
        top: 10%;
        left: 10%;
    }
    .home .layer nav .bars:hover ul
    {
        display: block;
    }
    .home .layer nav .bars ul li
    {
        padding-bottom:2% ;
        width: 100%;
    }
    /* ######### */
    .hello .sec1 {
        float: left;
        width: 90%;
        margin: auto;
        overflow: hidden;
    
    }
    .hello .sec1 .frame{
        width: 100%;
        margin: 5%;
        padding: 10%;
        box-shadow: 0 0 0 8px transparent inset;
    }
    .hello .sec1 .frame .img{
        position: static;
        border-radius: 5px;
        
        transform: translateY(0px) translateX(0px);
    }
    .hello .sec2 {
        float: left;
        width: 90%;
        margin: 0 5%;
        padding: 0 10%;
        
    }
    .hello .sec2 .about ul li{
        float: left;
        padding: 2%;
        padding-left: 0;
        width: 100%;
    }
    /* ############## */
    .OurServices .list .item {
        float: left;
        width: 100%;
        padding: 5%;
        
    }
    .OurPortfolio .list .list1{
        width: 100%;
        margin: auto;
        overflow: hidden;
        padding-bottom: 5%;
        margin: 3% 0; 
        /* background-color: #d2f1e0; */
    }
    .OurPortfolio .list .item{
        width: 100%;
        padding: 3%;
        float: left;
    
    }
    /* ############ */
    .conter{
        padding: 3%;
    }
    .conter .item{
        float: left;
        width: 100%;
        padding: 5%;
    }
    /* ################## */
    .OurBlog .content{
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    .OurBlog .content .item{
        float: left;
        width: 100%;
        
        margin: 3% 0;
        background-color: #fff;
    }
    /* ########### */
    .ContacUs .content .form{
        width: 80%;
        margin: auto;
    }
    .ContacUs .content .form .item1{
        float: left;
    }
    .ContacUs .content .form .item2{
        width: 100%;
        float: left;
    }
    /* ######### */
    .footer .content{
        margin: auto;
        width: 80%;
        
    }
   
}

@media all and (min-width:768px) and (max-width:991px){
    
    .home .layer nav{
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .home .layer nav .list{
        float: right;
        width: 70%;
    }
    .home .layer nav .list ul li{
        float: left;
        margin-top: 3%;
        margin-left: 3%;
    }
    /* ########## */
    
    .hello .sec1 {
        float: left;
        width: 45%;
        margin: auto;
        overflow: hidden;
    
    }
    .hello .sec1 .frame{
        width: 100%;
        margin: 5%;
        padding: 10%;
        box-shadow: 0 0 0 8px transparent inset;
    }
    .hello .sec1 .frame .img{
        position: static;
        border-radius: 5px;
        
        transform: translateY(0px) translateX(0px);
    }
    .hello .sec2 {
        float: left;
        width: 50%;
        
        
    }
    .hello .sec2 .about ul li{
        float: left;
        padding: 2%;
        padding-left: 0;
        width: 100%;
    }
    /* ######## */
    .OurServices .list .item {
        float: left;
        width: 50%;
        padding: 2%;
        
    }
    .OurPortfolio .list .list1{
        width: 100%;
        margin: auto;
        overflow: hidden;
        padding-bottom: 5%;
        margin: 2% 0; 
        margin: auto;
        /* background-color: #d2f1e0; */
    }
    .OurPortfolio .list .item{
        width: 50%;
        padding: 1%;
        float: left;
    
    }
    .feedback .content{
        width: 90%;
    }
 

}

@media all and (min-width:992px) and (max-width:1199px){
    
}

@media all and (min-width:1200px) {
    
}